<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">Анализ вакансий</span>
</a>

<ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Главная</a></li>
    <li class="nav-item"><a href="/parsing" class="nav-link">Парсер</a></li>
    <li class="nav-item"><a href="/analysis" class="nav-link">Аналитика вакансий</a></li>
    <li class="nav-item"><a href="/about_project" class="nav-link">О проекте</a></li>
</ul>
